{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_event_form') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title></input>
        <dt>Day:
        <dd><input type=text size=30 name=day ></input>
        <dt>Time:
        <dd><input type=text size=30 name=time ></input>
        <dt>Location:
        <dd><input type=text size=30 name=location ></input>
        <dt>Description:
        <dd><input type=text size=30 name=description ></input>
        <dt>Anchor Amount:
        <dd><input type=text size=30 name=anchor_amount ></input>
        <dt>Max Attendees:
        <dd><input type=text size=30 name=max_attendees ></input>
        <dt>Registration Start:
        <dd><input type=text size=30 name=registration_start ></input>
        <dt>Registration End:
        <dd><input type=text size=30 name=registration_end ></input>

        <dd><input type=submit value=Send>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
