{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_org_form') }}" method=post class=add-entry>
      <dl>
        <dt>Organization Name:
        <dd><input type=text size=30 name=org_name></input>
        <dt>Organization Address:
        <dd><input type=text size=30 name=org_address ></input>
        <dt>Organization City:
        <dd><input type=text size=30 name=org_city ></input>
        <dt>Organization State:
        <dd><input type=text size=30 name=org_state ></input>
        <dt>Organization Zip:
        <dd><input type=text size=30 name=org_zip ></input>
        <dt>Organization Email:
        <dd><input type=text size=30 name=org_email ></input>
        <dt>Organization Phone:
        <dd><input type=text size=30 name=org_phone ></input>
        <dt>Organization Type:
        <dd><input type=text size=30 name=org_type ></input>

        <dd><input type=submit value=Send>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}

org_name text,
org_address text,
org_city text,
org_state text,
org_zip text,
org_email text,
org_phone text,
org_type text);