{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_registration_form') }}" method=post class=add-entry>
      <dl>
        <dt>Event:
        <dd><dd><select name=event>
          {% for entry in event %}
          <option value="{{ entry.event_id }}">{{ entry.title }}, {{ entry.day }}</option>
          {% endfor %}
          </select></dd>
        <dt>RSVP:
        <dd><input type=text name=rsvp ></input>
        <dt>Donation:
        <dd><input type=text name=donation></input>

        <dd><input type=submit value=Send></input>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}
