{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_user_form') }}" method=post class=add-entry>
      <dl>
        <dt>First Name:
        <dd><input type=text size=30 name=first_name></input>
        <dt>Last Name:
        <dd><input type=text size=30 name=last_name>
        <dt>Email:
        <dd><input type=text size=30 name=email ></input>
        <dt>Phone:
        <dd><input type=text size=30 name=phone ></input>
        <dt>Address:
        <dd><input type=text size=30 name=address ></input>
        <dt>City:
        <dd><input type=text size=30 name=city ></input>
        <dt>State:
        <dd><input type=text size=30 name=state ></input>
        <dt>Zip:
        <dd><input type=text size=30 name=zip ></input>

        <dt>Password:
        <dd><input type=text size=30 name=password ></input>
        <dd><input type=submit value=Send>
        
      </dl>
    </form>


  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
{% endblock %}